# === Angular (leo-gas) ===
leo-gas/node_modules/
leo-gas/dist/
leo-gas/.angular/

# === Spring Boot (api) ===
api/target/
api/.mvn/wrapper/maven-wrapper.jar
api/src/main/resources/application-local.properties

# === IDEs ===
.idea/
*.iml
.vscode/

# === OS ===
.DS_Store
Thumbs.db
